*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
/* custom scrollbar */
::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-track{
    background: white;
}
::-webkit-scrollbar-thumb {
    background: linear-gradient(#9418fd, #571094);
    border-radius: 5px;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(135deg, #cf9aff, #95c0ff);
    padding: 30px 0;
}
.container{
    width: 95%;
    height: 100%;
    margin: 0 auto;
}
.container .heading{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.container .heading h1{
    font-size: 35px;
    font-family: 'Amita', serif;
    color: #fff;
}
.container .heading img{
    width: 40px;
    display: block;
}
.container button{
    background: linear-gradient(#9418fd, #571094);
    padding: 12px 24px;
    border: none;
    outline: none;
    border-radius: 30px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px auto 30px;
    transition: 0.5s;
}
.container button img{
    width: 14px;
    margin-right: 3px;
}
.container button:hover{
    background: linear-gradient(#571094, #9418fd);
}

.input-box {
    width: 100%;
    max-width: 800px;
    min-height: 120px;
    background: #fff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    outline: none;
    border: none;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
    color: #222;
}
.input-box img{
    width: 20px;
    position: absolute;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}